body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}

/* body::-webkit-scrollbar{
    display: none;
} */

p, h1, h2, h3, h4, h5, h6{
    cursor: default;
}

main{
    display: block;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.main-nav{
    margin: 0px;
    background: white;
    display: flex;
    list-style: none;
    letter-spacing: 1px;
    padding: 0;
    font-size: 1.1rem;
    -webkit-box-shadow: 1px -50px 80px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -50px 80px 12px rgba(0,0,0,0.75);
    box-shadow: 1px -50px 80px 12px rgba(0,0,0,0.75);
}

.main-nav a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1rem;
}

.main-nav li{
    transition: 0.2s ease-in-out;
    padding: 20px;
    cursor: pointer;
}
.main-nav li:hover{

    background: #24572b;

}

.main-nav li:hover > a{
    color: #ffffff;
}


.main-nav-item:nth-child(2) ul{
    box-sizing: border-box;
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: all 0.2 ease-in-out;
    padding: 0;
    margin-top: 20px;
    list-style: none;
    position: absolute;
    left: 0;
    width: 300px;
    background: #ffffff;
}
.dropdown:hover ul,
.dropdown:focus-within ul{
    visibility: visible;
    opacity: 1;
    display: block;
}

.main-nav-item:nth-child(2) ul > li{
    display: block;
    color: rgb(61, 61, 61)
}

.main-nav-item:last-child{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
    padding: 0;
    transform: scale(1.4);
    transition: all 0.3 ease-in-out;
}

.fa-shopping-cart, .cart{
    position: relative;
    z-index: 9999;
}

li.main-nav-item.cart:hover{
    background: transparent;
}

li.main-nav-item.cart a > i{
    transition: all 0.2s ease-in-out;
}

li.main-nav-item.cart a > i:hover{
    color: #24572b;
}

li.active{
    background: #24572b;
}

li.active > a{
    color: white;
}

li.active:hover{
    background: #4cac58;
}

/* ---------- Welcome ---------- */

.welcome{
    display: flex;
    justify-content: center;
}

.welcome div{

    padding: 25px;
    align-self: center;
    text-align: center;

}

.welcome div > h1{
    font-size: 50px;
    font-weight: 400;
}

.welcome div > p:nth-child(2){
    font-size: 3rem;
}

.welcome div > p.order{
    margin-top: 150px;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    color: #24572b;
    margin-bottom: 0;
}
.welcome img{
    padding: 25px;
    width: 40%;
}

#order-btn{
    background-color: #24572b;
    border: 0;
    width: 150px;
    margin: 0;
    height: 50px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 8px solid rgb(220, 220, 220);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#order-btn:hover{
    border-bottom: 8px solid #4cac58;
}
 /* ---------- hr Style ---------- */

.hr-style{
    width: 80vw;
    border-color: rgb(163, 163, 163);
}

/* ---------- Margin equal ---------- */

.mar-50{
    margin-top: 50px;
}

.mar-25{
    margin-top: 25px;
}

.mar-100{
    margin-top: 100px;
}

.mar-150{
    margin-top: 150px;
}
/* ---------- Destination Gallery ---------- */

.dest-wrapper{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

form.dest-form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.dest-form > select{ 
    width: 200px;
    height: 50px;
    border: 0;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #24572b;
    color: white;
}

.dest{
    margin: auto;
    width: 80%;
    display: block;
}
/* shop filter */

.form-filter{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.form-filter form{
    display: block;
    width: 100%;
    margin-left: auto;
}

.form-filter form > select:nth-child(1){
    height: 40px;
    border-radius: 0;
}

.form-filter form > #search{
    float: right;
    height: 40px;
    margin-left: auto;
}

/*shop*/

.shop-wrapper{
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.shop-item{
    display:block;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(200, 200, 200);
    font-family: 'Oswald', sans-serif;  
}
.shop-item img{
    display:block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.shop-item div > h3{
    margin-top: 25px;
    text-align: center;
}
.shop-item div > p.small{
    margin: 0;
    font-size: 0.8em;
    text-align: center;
}

.shop-item div > p{
    text-align: center;
    font-size: 1.1em;
}

.shop-item button.order{
    border: 0;
    display: block;
    margin: 0 auto 25px auto;
    width: 200px;
    height: 50px;
    background: #24572b;
    color: #ffffff;
    transition: all 0.3s ease;
}

.shop-item button.order:hover,
.shop-item button.order:focus{
    background: #4cac58;
}

/* Aside shop */
.quantity{
}
.shop-aside{
    position: fixed;
    top: 60px;
    left: 100%;
    width: 30%;
    height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.shop-aside-card{
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.shop-aside-card img{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 5%;
}

.shop-aside-card p{
    display: inline;
    font-size: 1.5rem;
}

.quantity{
    display: inline-block; 
    margin-left: 50px;
}

.shop-aside .add-to-item, .sub-to-item{
    border: 1px solid #dddbdb;
    background: #ffffff;
    font-weight: 600;
    width: 30px;
    height: 30px;
    transition: background 0.3s ease-in-out;
}
.shop-aside .add-to-item:hover, .sub-to-item:hover,
            .add-to-item:focus, .sub-to-item:focus{
                
    background: #e0e0e0;
}

.shop-aside .shop-aside-q{
    border: 1px solid #dddbdb;
    height: 30px;
    width: 60px;
    text-align: center;
}

.hide{
    display: none;
}
@media only screen and (max-width: 600px){

    #shop-img{
        display: none;
    }
}
@media only screen and (max-width: 1024px){
    #shop-img{
        display: none;
    }
}
@media only screen and (min-width: 1440px){
    #shop-img{
        width: 30%;
    }
}
