/* Small devices (landscape phones, 576px and up) */
@media (max-width: 359.98px){

    #try{
        height: 45%;
    }
    #dobrodosli{
        margin-top: 120px;
    }

}
@media (min-width: 360px){

    #try{
        height: 60%;
    }
    #dobrodosli{
        margin-top: 120px;
    }

}
@media (max-width: 575.98px) {
    #grad{
        width: 40%;
    }
    #store{
        width: 40%;
    }
    .left-m{
        transform: translateX(0);
    }
    .right-m{
        transform: translateX(0);
    }
    #try{
        height: 50%;
        transform: translateY(-5px) 
    }
    #dobrodosli{
        margin-top: 110px;
    }
    .slider{
        height: 30vh;
        align-content: center;
    }
    .slider-text-content{
        padding-top: 5%;
        height: 40vh;
    }

    h1.text-item{
        font-size: 1.8em;
    }
    
    .slider-container{
        padding-left: 2%;
        padding-right: 2%;
    }
    .arrow-left{
        left: 10%;
    }
    .arrow-right{
        right: 95%;
    }
    #w3{
        display:none;
    }
    #w1{
        width: 100%;
        background-size: 100%;
        background-position-y: 140%;
    }
    #dest{
        font-size: 26px;
    }

}

@media (min-width: 576px) { 

    #try{
        height: 50%;
        transform: translateY(-5px) 
    }
    #dobrodosli{
        margin-top: 110px;
    }



}

/* Small devices (landscape phones, less than 768px) */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    #try{
        height: 60%;
        transform: translateY(-17px) 
    }
    #dobrodosli{
        margin-top: 150px;
    }
    

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    #try{
        height: 65%;
        transform: translateY(-27px)    
    }
    #dobrodosli{
        margin-top: 200px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    #try{
        height: 70%;
        transform: translateY(-40px)
    }
    #dobrodosli{
        margin-top: 250px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 999.98px) { 

    .slider{
        height: 40vh;
    }

    .slider-text-content{
        padding-top: 5%;
        height: 40vh;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

    

}